.auth{
    padding: 1% 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    
}
.auth-section{
    height: 10vh;
}
.form-section{
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
    width:70% ;
    border: 4px solid purple;
    padding: 1% 4rem;
    height: 70vh;
    border-radius: 30px;

}
.reg-section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'cursive';
    font-weight: 750;
}
.join-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.gpl-btn:hover{
    background: white;
}